/* عام */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  /* العنوان الرئيسي */
  .main-title {
    text-align: center;
    margin-top: 30px;
    font-size: 36px;
    font-weight: bold;
  }
  
  /* صندوق المحتوى */
  .content-box {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    margin: 20px;
    padding: 20px;
    height: 100%;
  }
  
  /* اسم الطبق */
  .item-name {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 15px;
  }
  
  /* زر القائمة المنسدلة */
  .menu-item {
    text-align: center;
  }
  
  /* القائمة فالموبايل */
  @media (max-width: 767px) {
    .navbar-nav > li > a {
      text-align: center;
    }
  
    .collapse.in {
      width: 90%;
      margin: auto;
    }
  }
  